{
    "extends": "rallycoding",
    "env": {
        "browser": true
    },
    "globals": {
        "fetch": true
    },
    "rules": {
        "arrow-body-style": 0,
        "max-len": 0,
        "react/sort-comp": 0
    }
}